html {
  background: url(../resources/images/back.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
  background: transparent;
}

.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 50px;
}

.top-nav {
  background: white;
}
.top-nav ul {
  list-style-type: none;
  font-family: "Jacques Francois", serif;
  font-size: 1.6rem;
}
.top-nav ul li {
  display: inline-block;
  padding: 10px;
}
.top-nav ul li input[type=search] {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
.top-nav .fa {
  color: #333;
}
.top-nav header {
  clear: both;
  padding-bottom: 40px;
}
.top-nav header h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 5rem;
}

.navbar {
  margin: 0;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default {
  border-radius: 0;
  border: none;
  background: white;
  border-top: 1px solid #eeeeee;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.75);
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333;
  padding: 17px 50px;
  font-family: "Jacques Francois", serif;
  font-size: 1.8rem;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: white;
  color: #333;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover {
  border: none;
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
  background: #333;
}

.dropdown-menu {
  box-shadow: none;
}

.dropdown-menu > li > a {
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
}

nav .fa {
  margin-right: 10px;
  font-size: 1.8rem;
}

.caret {
  margin-left: 10px;
}

/* Home */
.intro {
  padding: 50px 0;
  background: transparent;
}
.intro h1 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 3.5rem;
  text-align: center;
  color: white;
}
.intro p {
  margin-top: 25px;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  text-align: center;
  color: white;
}
.intro .h-button {
  width: 180px;
  display: block;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  color: white;
  padding: 10px 30px;
  margin: 25px auto 0 auto;
  -moz-transition: background 0.5s linear 0s, color 0.5s linear 0s;
  -webkit-transition: background 0.5s linear 0s, color 0.5s linear 0s;
  -o-transition: background 0.5s linear 0s, color 0.5s linear 0s;
  -ms-transition: background 0.5s linear 0s, color 0.5s linear 0s;
  transition: background 0.5s linear 0s, color 0.5s linear 0s;
}
.intro .h-button .fa {
  margin-right: 10px;
}
.intro .h-button:hover {
  background: white;
  color: #333;
}

.products {
  background: white;
  padding: 30px 0;
}
.products h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-left: 45px;
}
.products .product {
  float: left;
  width: 250px;
  padding: 10px;
  margin: 25px 35px 35px 0;
}
.products .product img {
  background: white;
  padding: 3px;
  border: 1px solid #eeeeee;
}
.products .product p {
  margin: 10px 0;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  text-align: center;
}
.products .product .add-cart {
  width: 158px;
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
  background: #4ABDAC;
  font-family: "Playfair Display", serif;
  border: none;
  color: white;
  padding: 10px 20px;
}
.products .product .add-cart:hover {
  text-decoration: none;
}

.our-promise {
  padding: 50px 0;
  background: #f7f7f7;
}
.our-promise h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin: 0 0 50px 0;
  color: #333;
}
.our-promise h3 {
  margin: 0 0 20px 0;
  font-family: "Playfair Display", serif;
  font-size: 2.2rem;
  color: #dd8609;
}
.our-promise p {
  display: block;
  margin: 10px auto 0 auto;
  width: 75%;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
}

.cards {
  padding: 50px 0;
  background: white;
}
.cards p {
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  text-align: center;
}
.cards p .fa {
  margin: 0 7px;
}

/* Product */
.l-product .card {
  width: 290px;
  height: 290px;
  position: relative;
  -webkit-perspective: 700px;
  margin: 30px auto;
}
.l-product .card:hover .face {
  -webkit-transition: all 0.75s ease-out;
}
.l-product .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  -webkit-transition: all 1s ease-out;
  -webkit-transform-origin: 0 0;
}
.l-product .front {
  -webkit-transform: rotateY(-20deg);
  z-index: 2;
}
.l-product .back {
  -webkit-transform: rotateY(0deg);
  z-index: 1;
}
.l-product .back p {
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  margin: 20px;
}
.l-product .back p input {
  width: 180px;
  border: 1px solid #ddd;
}
.l-product .back h3 {
  margin-top: 70px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 1.8rem;
}
.l-product .back h3 input {
  width: 250px;
  text-align: center;
  border: 1px solid #ddd;
}
.l-product .back h4 {
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  margin: 70px 0 20px 20px;
}
.l-product .back h4 input {
  width: 180px;
  border: 1px solid #ddd;
}
.l-product .card:hover .front {
  -webkit-transform: rotateY(-165deg);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.l-product .card:hover .back {
  -webkit-transform: rotateY(-15deg);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.l-product img {
  float: left;
  border: 1px solid #ddd;
}

.details {
  padding: 50px 0;
  background: #f7f7f7;
}
.details h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  text-align: center;
}
.details p {
  margin-top: 25px;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  text-align: center;
}
.details h5 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2.25rem;
}
.details .a-button {
  text-align: center;
  display: block;
  width: 250px;
  background: #4ABDAC;
  font-family: "Playfair Display", serif;
  border: none;
  color: white;
  margin: 25px auto 0 auto;
  padding: 15px 20px;
  font-size: 1.8rem;
}

/* Cart */
.cart {
  background: #f7f7f7;
  padding: 50px 0;
  overflow: hidden;
}
.cart .buttons {
  margin-top: 25px;
}
.cart h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-bottom: 25px;
}
.cart p {
  font-family: "Playfair Display", serif;
  margin-bottom: 25px;
}
.cart ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}
.cart ul li .tab-head {
  display: inline-block;
  width: 145px;
  font-weight: normal;
  font-family: "Playfair Display", serif;
}
.cart ul li .tab-detail {
  margin-left: 15px;
  font-weight: normal;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
}
.cart ul li input {
  box-shadow: none;
  border: 1px solid #ddd;
  width: 50px;
}
.cart ul .red {
  color: red;
}
.cart .checkout {
  margin-top: 13px;
}
.cart .fa {
  margin-right: 10px;
}
.cart button, .cart .a-button {
  display: inline-block;
  width: 190px;
  background: #4ABDAC;
  font-family: "Playfair Display", serif;
  border: none;
  color: white;
  margin: 0 10px 0 0;
  padding: 15px 30px;
  font-size: 1.5rem;
}
.cart .button {
  display: block;
  width: 393px;
  text-align: center;
  background: #4ABDAC;
  font-family: "Playfair Display", serif;
  border: none;
  color: white;
  margin: 10px 0 0 0;
  padding: 15px 30px;
}

/* Contact */
.contact {
  background: white;
  padding: 50px 0;
}
.contact form label {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin: 10px 0;
}
.contact form .form-control {
  border: none;
  box-shadow: none;
  outline: none;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background: #f1f1f1;
  height: 40px;
}
.contact form button {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  padding: 10px 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.contact form textarea {
  resize: none;
}
.contact form .asterisk {
  color: red;
  margin-left: 7px;
}

/* Login */
#login {
  background: #4ABDAC;
  height: 100vh;
}
#login form {
  width: 30%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  background: white;
  padding: 60px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
#login form h2 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-align: center;
}
#login form input {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  border-radius: 0;
  background: #f1f1f1;
  height: 60px;
}
#login form button {
  background: #4ABDAC;
  border: none;
  width: 100%;
  border-radius: 0;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  height: 60px;
  color: white;
}
#login form p {
  display: block;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  text-align: center;
  margin: 20px 0 0 0;
}
#login form a {
  color: #4ABDAC;
}

footer {
  background: #4ABDAC;
  padding: 30px 0;
}
footer ul {
  list-style-type: none;
}
footer ul li a {
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  color: white;
  padding: 0;
}
footer ul li a:hover {
  color: white;
}
footer ul li .fa {
  width: 20px;
  margin-right: 5px;
  color: white;
}
footer ul .cat {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}
footer p {
  margin-top: 30px;
  font-family: "Jacques Francois", serif;
  font-size: 1.7rem;
  text-align: center;
  color: white;
}

@media all and (max-width: 1024px) {
  .navbar-default .navbar-nav > li > a {
    padding: 25px 40px;
  }

  #login form {
    width: 50%;
  }
}
